*{
    box-sizing: border-box;
    text-decoration: none;
}

header {
    background-color: antiquewhite;
}

#main-navig {

}

.spacer {
    display: inline-block;
    /** Parent width - Logo width - Text width **/
    width: calc(100% - 50px - 300px);
}

nav ul{
    list-style: none;
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: bottom;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0px;
}

#main-article {
    background-color: pink;
    display: inline-block;
    max-width: 65%;
    border: 2px solid orange;
    margin: 10px;
    padding: 5px;
}

#main-article img{
    max-width: 200px;
    display: block;
}

#aside-text {
    background-color: turquoise;
    display: inline-block;
    max-width: 25%;
    margin: 10px;
    padding: 5px;
    border: 5px dotted yellowgreen;
 }

