* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* example of type selector*/
body {
    background: radial-gradient(circle, rgba(250, 250, 250, 1) 70%, rgba(222, 222, 222, 1) 100%);
}

header {
    background-color: white;
    padding: 10px 0;
    border-bottom: 2px solid rgb(245, 40, 238);
}

/* example of id selector*/
#main-nav {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-nametag a {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

nav ul {
    list-style: none;
}

/* example of inline-block */
nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.main-container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

/* Article at the top */
#main-article {
    margin-bottom: 20px;
}

#main-article h1 {
    margin-bottom: 10px;
}

#main-article p::first-line{
    font-size: 1.2em;
}

.content-row {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 20px;
    margin-top: 20px;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-rows: 140px;                 
    gap: 10px;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter: grayscale(100);
}

/* example of class selector*/
.gallery-image.tall {
    grid-row: span 2;  
}

.gallery-image.wide {
    grid-column: span 2; 
}

/* ========== ASIDE ========== */
aside img {
    float: left;
    max-width: 50%;
}

#aside-text {
    border: 4px dotted rgb(245, 40, 238);
    padding: 15px;
}

#aside-text p {
    padding-top: 10px;
    margin-bottom: -10px;
    clear: both;
}

/* ========== FOOTER ========== */
footer {
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    background-color: #fafafa;
    border-top: 2px solid rgb(245, 40, 238);
    font-size: 14px;
}
